// :root {
//   --bg-color: #0F1821;

//   --fg-color: #fff;
//   --fg-headline-color: #fff;

//   --button-color: #2f2f2f;
//   --fg-button-color: var(--fg-color);

//   --link-color: rgb(134, 148, 255);
//   --link-visited-color: var(--link-color);

//   --font-family: 'Averia Serif Libre', 'Roboto', sans-serif;
// }

// https://www.happyhues.co/palettes/15
// :root {
//   --bg-color: #43383b;

//   --fg-color: #faeee7;
//   --fg-headline-color: #33272a;

//   --button-color: #ff8ba7;
//   --fg-button-color: #33272a;

//   --link-color: var(--fg-color);
//   --link-visited-color: var(--link-color);

//   --font-family: 'Averia Serif Libre', 'Roboto', sans-serif;
// }

// https://coolors.co/231942-5e548e-9f86c0-be95c4-e0b1cb
:root {
  --bg-color: #0c0c0d;

  --fg-color: #fafafa;
  --fg-headline-color: #33272a;

  --button-color: #ff8ba7;
  --fg-button-color: #33272a;

  --link-color: var(--fg-color);
  --link-visited-color: var(--link-color);

  --font-family: "Averia Serif Libre", "Roboto", sans-serif;

  --primary-color: var(--fg-color);
  --secondary-color: #fcffa2;
  --tertiary-color: #a2ebee;
}

