.text {
  &--tortitas {
    color: #fcffa2;
  }

  &--aws {
    color: #ff972a;
  }

  &--nuxt {
    color: #00c58e;
  }

  &--node {
    color: #68a063;
  }

  &--php {
    color: #8892bf;
  }

  &--laravel {
    color: #ff2d20;
  }

  &--deno {
    color: #a2ebee;
  }

  &--html {
    color: #f9643f;
  }

  &--typescript {
    color: #67acf6;
  }

  &--scss {
    color: #f581bb;
  }

  &--css {
    color: #4569f8;
  }

  &--vue {
    color: #57dba0;
  }

  &--react {
    color: #61dafb;
  }

  &--shell {
    color: #89e051;
  }

  &--javascript {
    color: #fbe647;
  }

  &--csharp {
    color: #58fb37;
  }

  &--python {
    color: #4b8bbe;
  }

  &--java {
    color: #f8981d;
  }

  &--powershell {
    color: #6749ff;
  }

  &--blade {
    color: #f7523f;
  }
}

p,
small {
  a {
    text-decoration: underline !important;
  }
}
