.cursor-wrapper {
  position: fixed;
  inset: 0;

  overflow: hidden;

  .cursor {
    @media (hover: none) {
      display: none;
    }

    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    height: 100px;

    transform: translate(-50%, -50%);

    border: 1px solid var(--fg-color);
    border-radius: 50%;

    pointer-events: none;

    z-index: 4;

    will-change: left, top;
  }
}
